---
name: test
on: pull_request
permissions: {}
jobs:
  test:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: ./
        if: |
          ! github.event.pull_request.head.repo.fork
        with:
          publish_dir: aqua
          destination_dir: docs
          publish_branch: test-gh-pages
