---
name: test
on: pull_request
permissions: {}
jobs:
  test:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false
      - uses: ./
        if: |
          ! github.event.pull_request.head.repo.fork
        with:
          publish_dir: aqua
          destination_dir: docs
          publish_branch: test-gh-pages
