---
name: test
on: pull_request
permissions: {}
jobs:
  test:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - uses: ./
        if: |
          ! github.event.pull_request.head.repo.fork
        with:
          publish_dir: aqua
          destination_dir: docs
          publish_branch: test-gh-pages
